@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: lightgray;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

header {
    flex: 0 80px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    width: fill-parent;
    margin: 0;
    padding: 0.5em;
}

#logo {
    border-radius: 10em;
    width: 50px;
    height: 50px;
    padding: 0.5em;
    align-items: center;
} 

menu {
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

nav {
    flex: 1 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 0em 2em 0em 0em;
}

.nav-bar-item {
    padding: 0 0.3em;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: black;
}

#login-link {
    font-weight: 700;
    font-style: bold;
    font-size: 1.2em;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(45deg, #3cdede, #fff04a);
}

button {
    display: flex;
    padding: 0.5em;
    margin: .5em;
    border-radius: 5em;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    height: 2em;
    width: 2em;
    font-size: 6em;
    color: #3cdede;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    flex: 1 25vh;
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
}

#github {
    justify-content: center;
    font-weight: 500;
    padding: 0.5em;
}

footer {
    flex: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0.5em 2em 0.5em 0.5em;
    align-items: center;
    width: fill-parent;
    margin: 0;
}

.author {
    flex: 0 300px;
    padding: 0.5em;
}

@media (orientation: portrait) {
    main {
      flex-direction: column;
    }
  }
  
  @media (max-height: 500px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
  }