@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.add-song-button {
    display: flex;
    padding: 0.5em;
    margin: .5em;
    border-radius: 5em;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    height: 2em;
    width: 2em;
    font-size: 6em;
    color: #3cdede;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-song-title {
    flex: 1 25vh;
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
}