body {
    background-color: lightgray;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

header {
    flex: 0 80px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    width: fill-parent;
    margin: 0;
    padding: 0.5em;
}

#logo {
    border-radius: 10em;
    width: 50px;
    height: 50px;
    padding: 0.5em;
    align-items: center;
} 

menu {
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

nav {
    flex: 1 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 0em 2em 0em 0em;
}

.nav-bar-item {
    padding: 0 0.3em;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: black;
}

#login-link {
    font-weight: 700;
    font-style: bold;
    font-size: 1.2em;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: bottom;
    background: linear-gradient(45deg, #3cdede, #fff04a);
}

h2 {
    color: whitesmoke;
    font-size: 2em;
    margin: 1em 0em 0em 0em;
    text-align: center;
}

p {
    color: whitesmoke;
    font-size: 1em;
    font-style: italic;
    margin: 0.5em 0em 1em 0em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    padding: 1em;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    background-color: whitesmoke;
}

label {
    flex: 1 100px;
    margin: 0.5em;
    padding: 0.5em;
    width: 100px;
    text-align: center;
}

.textbox {
    flex: 3 200px;
    margin: 0.5em;
    padding: 0.5em;
    width: 250px;
    border-radius: 2em;
    border: 2px solid lightgray;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 100%;

}

#login-button {
    flex: 1 25vh;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5em;
    background-color: #3cdede;
    border: 2px solid white;
    cursor: pointer;
    height: 2em;
    width: 5em;
    font-size: 1em;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3em;
}

#register-button {
    flex: 1 25vh;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5em;
    background-color: white;
    border: 2px solid #3cdede;
    cursor: pointer;
    height: 2em;
    width: 5em;
    font-size: 1em;
    color: #3cdede;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3em;
}

#github {
    justify-content: center;
    font-weight: 500;
    padding: 0.5em;
}

footer {
    flex: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0.5em 2em 0.5em 0.5em;
    width: fill-parent;
    margin: 0;

}

.author {
    flex: 0 300px;
    padding: 0.5em;
}

@media (orientation: portrait) {
    main {
      flex-direction: column;
    }
  }
  
  @media (max-height: 500px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
  }